<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="static/stylesheets/jenkins-design-language.css" type="text/css" rel="stylesheet">
    <link href="static/stylesheets/extensions.css" type="text/css" rel="stylesheet">
  </head>
  <body>
  </body>
</html>