<!DOCTYPE html>
<html>
  <head data-rooturl="http://ci.comprehend.in:443" data-appurl="/blue">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="stylesheets/blueocean-core-js.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/blueocean.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/extensions.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/jenkins-design-language.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/editor.less" type="text/less" rel="stylesheet">
  </head>
  <body>
  </body>
</html>